{$SITE_DOMAINS} {
  encode zstd gzip

  request_body {
    max_size 100MB
  }

  header {
    Strict-Transport-Security "max-age=31536000"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "strict-origin-when-cross-origin"
    Permissions-Policy "camera=(), microphone=(), geolocation=()"
    -Server
  }

  reverse_proxy app:4321
}
