---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---
<Layout title="TG Agency">
  <Header />
  <main>
    <section class="hero">
      <h1>TG Agency</h1>
    </section>
  </main>
</Layout>
