---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import CasesSection from '../components/CasesSection.astro';
import HistoriaSection from '../components/HistoriaSection.astro';
import DiferenciaisSection from '../components/DiferenciaisSection.astro';
import ClientesSection from '../components/ClientesSection.astro';
---
<Layout title="TG Agency">
  <Header />
  <main>
    <HeroSection />
    <CasesSection />
    <HistoriaSection />
    <DiferenciaisSection />
    <ClientesSection />
  </main>
</Layout>
